name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v3
        with:
          version: latest
      - uses: actions/setup-node@v6
        with:
          node-version: 22.21.1
      - run: pnpm i
      - name: pnpm test
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 1
          max_attempts: 3
          command: pnpm test
